html {
    background-color: blanchedalmond;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

button {
    height: 200px;
    width: 200px;
    border: 4px solid #333;
    border-radius: 10px;
    background-color: rgba(113, 255, 175, 0.875);
}

.fa-solid {
    font-size: 5em;
}

.results {
    background-color: rgba(113, 186, 255, 0.875);
    padding: 2em;
    border: 4px solid #333;
    border-radius: 10px;
    display: flex;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

p{
    font-size: 30px;
    color: #333;
}